.block-adverstisement{
    &::after{
        content: "";
        display: block;
        padding-bottom: 200px;
        position: relative;
        z-index: 0;
    }
    .bg-image{
        z-index: $zindex-dropdown;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

img.bg-image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}