.block-adverstisement{
    background-color: $gray-300;
    &::after{
        content: "";
        display: block;
        padding-bottom: 200px;
        position: relative;
        z-index: 0;
    }
    .bg-image{
        z-index: $zindex-dropdown;
    }
    &--job{
        background-color: $dark;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-image--ad{
    left: 50%;
    width: auto;
    transform: translateX(-50%);
}

img.bg-image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}