.block-profile{
    @include rem(padding, 70px 0 130px 0);
    &__heading{
        @include rem(margin-bottom, 20px);
    }
    &__left{

    }
    &__right{
        @include rem(margin-left, 133px);
    }
    &__title{
        // @include rem(margin-bottom, 10px);
    }
    &__content{
        margin:0 auto;
        max-width: 870px;
        @include rem(margin-top, 57px);
        
    }
    &__para{
        @include rem(font-size, 15px);
        line-height: 18px;
        max-width: 428px;
        margin: 0 auto;
        p{

        }
    }
    &--btn{
        margin:0 auto;
        @include rem(margin-top, 50px);
        max-width: 320px;

    }
}

.subtitle{
    @include font-size($font-size-16)
    color:$gray-700;    
}